.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: solid blanchedalmond 1px;
}
.mole {
    background-image: url("./두더지.png");
    background-size: cover;
}
